section.conten-acerca{
	width: 100%;
	min-height: 700px;
	height: 100vh;

	-webkit-box-shadow: 0px 0px 57px 9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 57px 9px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 57px 9px rgba(0,0,0,0.75);

	/*background-color: #FFF;*/
	background-image: url(../img/patron-abstract.png);
	background-position: center;
	background-attachment: fixed;

	/*Flexbox*/
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	
	flex-flow: row wrap;
	
	justify-content: space-around;
	align-items: flex-start;
}

header.banner-title-acerca{
	width: 100%;
	height: 300px;

	background-image: url(../img/bg-acerca.jpg);
	background-size: auto 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

article.box2-acercabig{
	min-width: 250px;
	max-width: 88%;
	min-height: 100px;
	border-left: 5px solid #666;
	margin: 10px;
}

article.box2-acerca{
	min-width: 600px;
	max-width: 45%;
	min-height: 100px;
	border-left: 5px solid #666;
	margin: 10px;
}

h1.title2 ,h2.title-content-acerca{
	font-family: 'Poiret One', 'cursive';
	text-align: left;
}

h1.title2{
	font-size: 3em;
	color: #FFF;
	padding-top: 120px;
	text-align: center!important;
}

h2.title-content-acerca{
	font-size: 1.5em;
	color: #666;
	padding: 20px;
}
